<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Movies/src/moviesrating/MovieUpdatedRecordDriver.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="moviesrating.MovieUpdatedRecordDriver"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="Input_movies Input_rating movie_updated_record"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Movies"/>
</launchConfiguration>
